<a href="https://colab.research.google.com/github/thisanches07/Algoritmo-Genetico/blob/main/AC2_Algoritmo_Genetico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>Centro Universitário Facens<br/></center>
<br/>
<font size="4"><center><b>Disciplina: Inteligência Computacional</b></center></font>
  
<font size="3"><center>Prof. Renato M. Silva</center></font>
<br/>
<br/>

## <center>Avaliação Continuada 2 (AC2)</center>

----
### <center>Nome e RA dos componentes do grupo</center>

    
| Nome     |      RA      | 
|:-        |:-------------:|
| Mateus da Silva Prado     |190477              | 
|Pedro Paulo Menezes Sasso          |190217              | 
| Thiago Sanches         |190006              |

----
### Instruções gerais
**1**. Siga boas práticas de programação:
- dar nomes intuitivos para as variáveis
- dar nomes intuitivos para as funções

**2**. O trabalho pode ser feito em grupos de até 3 pessoas. 
 - Não é permitido que o grupo tenha pessoas de uma turma diferente da sua. 
 - Caso o grupo tenha pessoas de turmas diferentes, todo o grupo receberá nota zero.
 - Apenas uma pessoa do grupo deve submeter o trabalho.

# Implementação

Vocês deverão implementar a solução para um problema de regressão usando algoritmos genéticos conforme as regras descritas a seguir.

---

Os dados para a criação do modelo devem ser carregados a partir do arquivo `dataset.csv`

As diretrizes para as etapas do algoritmo genético deverão ser implementadas como descritas a seguir:

- Geração
  - Os indivíduos devem ser carregados a partir do arquivo `individuos.csv`.
  - Vocês deverão manter a população com 200 indivíduos.
- Seleção
  - A medida de performance (fitness) a ser utilizada é MAE.
    - Para saber se a implementação está correta, o MAE para o primeiro indíviduo do arquivo disponibilizado é `52.78`.
  - A estratégia de seleção é pegar os 50% melhores.
- Cruzamento
  - O cruzamento deverá acontecer entre os indíviduos ímpares e pares em ordem de melhor fitness, por exemplo, indíviduo 1 com 2, 3 com 4. Deverão ser integrados à população a combinação dos genes a e b, resultando em dois filhos para cada cruzamento. Por exemplo:
    - Seja 2 indivíduos [3,4] e [5,6], seus filhos serão:
      - [3,6]
      - [5,4]
- Mutação
  - Você deverá avaliar o método com mutação e sem mutação, apresentando um gráfico com os resultados comparativos entre o processo com mutação e sem mutação. Você deverá escolher o percentual de chance de mutação e o percentual de mutação máxima em cada gene.
- Voltar para seleção até totalizar 10 gerações.

In [6]:

import pandas as pd

df = pd.read_csv('dataset.csv')
dfIndividuos = pd.read_csv('individuos.csv')
print('dados importados com sucesso')

dados importados com sucesso

           x          y
0   2.384133  76.484595
1   0.867444  32.523270
2   0.142547  11.512085
3   1.217174  42.660227
4  -0.208184   1.346122
..       ...        ...
95 -0.574494  -9.271399
96 -0.444954  -5.516679
97  0.981198  35.820446
98  1.085135  38.833063
99 -2.286493 -58.893780

[100 rows x 2 columns]

In [7]:
dfIndividuos

      a   b
0    12  16
1    79  31
2     1  85
3    68  19
4    52  18
..   ..  ..
195  10  46
196  43  29
197  76  35
198  26   5
199  61  27

[200 rows x 2 columns]

In [22]:
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split

X = df['x']
y = df['y']

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.3)

    a   b
4  52  18
5  64  88
6  61  94
7  52  17